target/
twitter-data-collection/friends*.csv
twitter-data-collection/tweetHashtags*.csv
twitter-data-collection/tweetUrls*.csv
twitter-data-collection/tweetUserMentions*.csv
twitter-data-collection/tweetUserUrls*.csv
twitter-data-collection/tweetUsers*.csv
twitter-data-collection/tweets*.csv
twitter-data-collection/favorite*.csv
twitter-spout/friends*.csv
twitter-spout/tweetHashtags*.csv
twitter-spout/tweetUrls*.csv
twitter-spout/tweetUserMentions*.csv
twitter-spout/tweetUserUrls*.csv
twitter-spout/tweetUsers*.csv
twitter-spout/tweets*.csv
twitter-rest-client/friends*.csv
twitter-rest-client/tweetHashtags*.csv
twitter-rest-client/tweetUrls*.csv
twitter-rest-client/tweetUserMentions*.csv
twitter-rest-client/tweetUserUrls*.csv
twitter-rest-client/tweetUsers*.csv
twitter-rest-client/tweets*.csv
twitter-rest-client/favorite*.csv
~$schemaTwitter.xlsx
*.pyc
clustering_launcher.py
